.DS_Store

/target

# intellij
.idea

# scratch files
**/*.scratch.rs

.env
.env.mysql

# node/typescript
dist
node_modules
node/README.md

# book
_book/book
book/.docusaurus

# vscode
.run
.vscode

# code coverage
*.profraw
coverage

# staging area for testing TS files
tests/staging
node/sqlx-ts